@charset "utf-8";
table {
	width: 100%;
	height: auto;
	margin: 20px auto 0px auto;
}
table tr td {
	width: 50%;
	height: auto;
}
.box_1 {
	width: 100%;
	height: auto;
	margin: 20px 0px;
	font-size: 18px;
}
.box_1 h2{
	margin-bottom: 10px;
}
.box_2 {
	width: 480px;
	height: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 5px;
}
.box_3 {
	padding-top: 5px;
}
.box_3 p {
	text-indent: 20px;
	padding-bottom: 10px;
	font-size: 20px;
}

.box_4 {
	width: 480px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 5px;
	height: 235px;
}
