@charset "utf-8";
* {
	padding: 0px;
	margin: 0px;
}

body {
	color: #666666;
	font-family: "Arial Unicode MS", "Microsoft JhengHei";
	background-image: url(../images/bg_circle.png);
}

#wrapper {
	width: 100%;
}

header {
	margin-left: 20px auto 15px auto;
	height: 50px;
}

header img {
	width: 100%;
	height: auto;
}

nav {
	width: 100%;
	height: 45px;
	background: -ms-linear-gradient(top,#458CBC,#BAD7E3);
	background: -webkit-linear-gradient(top,#458CBC,#BAD7E3);
	margin: 0px auto;
	-webkit-box-shadow: 0px 3px 2px;
	box-shadow: 0px 3px 2px;
}

#top_fixed {
	position: fixed;
	width: 100%;
	top: 0px;
}

.clearfix {
	clear: both;
}

#content {
	height: auto;
	margin:150px auto 70px auto;
	background: #FFFFFF;
	padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 10px #B3B3B3;
	box-shadow: inset 0px 0px 10px #B3B3B3;
}

footer {
	width: 100%;
	height: 50px;
	padding-top: 10px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: #FFFFFF;
	background: #458CBC;
	-webkit-box-shadow: 0px -3px 5px #FFFFFF;
	box-shadow: 0px -3px 5px #FFFFFF;
}

nav ul {
	height: 45px;
	margin: 0px auto;
}

nav ul li {
	display: inline-block;
	width: 110px;
	height: 45px;
	text-align: center;
}

nav ul li a {
	height: 32px;
	width: 110px;
	padding-top: 13px;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 2px;
	display: inline-block;
}

nav ul li:hover {
	background-color: #4476BC;
}

nav ul li:active {
	background: #4476BC;
	-webkit-box-shadow: inset 1px 1px 3px 2px #376099;
	box-shadow: inset 1px 1px 3px 2px #376099;

}
a {
	color: #458CBC;
}

h1 {
	text-align: center;
	font-size: 26px;
	margin-top: 5px;
}

h2 {
	font-size: 24px;
	text-align: left;
	border-bottom: medium solid #458CBC;
	margin-top: 5px;
}

.roomtable {
	margin: 0px;
	width: 250px;
}

#hide {
	display: none;
}

@media screen and (min-width: 768px) {
	header, nav ul, #content {
		width: 768px;
	}
}
@media screen and (min-width: 950px){
	header, nav ul, #content {
		width: 950px;
	}
}
@media screen and (min-width: 1200px){
	header, nav ul, #content {
		width: 1200px;
    }
}